// libraries
@import "libs/normalize";

// my strucure
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/global";

@import "components/components";

@import "layout/header";

.contact-hero {
  height: 100vh;
  background: {
    image: url(../images/contact.jpg);
    position: -0% -12px;
    size: 110vw;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media #{$downSMDesktop} {
    background: {
      image: url(../images/contact.jpg);
      position: 40% 50%;
      size: cover;
    }
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
  }

  .contact__par {
    font-size: 18px;
    letter-spacing: 0.015em;
    line-height: 28px;
    font-family: "Sorts Mill Goudy", serif;
    color: #fff;
    margin-left: 7rem;
    width: 400px;

    @media #{$downSMDesktop} {
      margin-left: 0;
      margin-right: 0;
      width: auto;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.43px;
    }
  }

  .mask-contact {
    margin-right: 7rem;
    position: relative;
    width: 350px;
    height: 350px;
    padding: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$downSMDesktop} {
      margin: 3rem 0;
    }

    .mask {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(
        0% 0%,
        0% 100%,
        8% 100%,
        8% 7%,
        90% 7%,
        91% 94%,
        4% 94%,
        8% 100%,
        100% 100%,
        100% 0%
      );
      width: 350px;
      height: 350px;
      // background-color: #bebebe;
      background: {
        image: url(../images/contact.jpg);
        position: 76% 44%;
        size: 110vw;
      }
      filter: blur(22px);
      mix-blend-mode: luminosity;
    }

    .mask__contact-info {
      overflow: hidden;
      text-align: center;

      h2,
      h3 {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 2rem;
      }

      .hl {
        background-color: #fff;
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .cta {
    position: absolute;
    left: 7rem;
    bottom: 4rem;
    text-transform: uppercase;
    font-family: "Sorts Mill Goudy", serif;
    color: #fff;
    line-height: 0px;
    letter-spacing: 0.142em;
    font-size: 14px;

    @media #{$downSMDesktop} {
      position: relative;
      left: 0;
      bottom: 0;
    }

    i {
      position: relative;
      top: 3px;
      right: 3px;
      
      img {
        transform: rotate(90deg);
        
        animation: upAndDown 1s ease-in-out .3s infinite;
        @include easeout;
      }
    }
  }

  .social-media-icons {
    display: flex;
    width: 100px;
    margin: 20px auto;
    justify-content: space-around;

    i {
      width: 30px;
      height: 30px;
      display: inline-block;
      position: relative;
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  25% {
    transform: translateY(-5px) rotate(70deg);
  }
  50% {
    transform: translateY(-2px) rotate(90deg);
  }
  75% {
    transform: translateY(-7px) rotate(110deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.form-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    letter-spacing: 0.137em;
    font-size: 27px;
  }

  span {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.264em;
    margin-bottom: 2rem;
    display: block;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .btn {
      align-self: center;
      cursor: pointer;
    }

    .form-input__wrapper {
      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $primaryColor;
        text-align: center;
        font-family: "Sorts Mill Goudy", serif;
        letter-spacing: 0.164em;
        padding: 0.5rem;
      }

      textarea {
        resize: none;
        height: 100px;
      }

      label {
        display: block;
        font-family: "Sorts Mill Goudy", serif;
      }

      &:nth-of-type(1) {
        flex-basis: 47%;
        @media #{$downSMDesktop} {
          flex-basis: 100%;
          margin: 3rem 0;
        }
      }
      &:nth-of-type(2) {
        flex-basis: 47%;
        @media #{$downSMDesktop} {
          flex-basis: 100%;
          margin: 1xzvfdsfsddrem 0;
        }
      }
      &:nth-of-type(3) {
        flex-basis: 100%;
        margin-top: 30px;
      }
      &:nth-of-type(4) {
        margin: 20px auto;
      }
    }
  }
}

@import "layout/footer";
