$downPhone: '(max-width:480px)';
$upPhone: '(min-width:320px)';
$upTaplet: '(min-width: 768px)';
$onlyTaplet: '(min-width: 768px) and (max-width: 992px)';
$upSMDesktop: '(min-width: 992px)';
$downSMDesktop: '(max-width: 992px)';
$upLGDesktop: '(min-width: 1200px)';

$primaryColor: #675B29;
$redColor: #EA2027;
$greyColor: #707070;
$darkColor: #141414;
$bgColor: #F2F2F2;
$plansColor: #B514F9;
$whiteColor: #E9E9E9;

$section-padding: 3.5rem;

$big-text: 2rem;
$main-h: 1.7rem;
$second-h: 1.3rem;
$par-size: 1rem;
